@model int
<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-primary">
            Order Subminted Successfully
        </h1><br />
        <img src="~/image/qw.jpg" width="60%" />
    </div>
    <div class="col-12 text-center" style="color:green">
        <br />
        Thank you for yor order!<br />
        we have recevied your order and we will send
        a follow up email shortaliy !
        <br />
        Your order Number is :@Model
    </div>
</div>